*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    color: #222222;
    background: linear-gradient(180deg, #92AEDB 0%, #E2BAB5 100%);
    background-attachment: fixed;
    padding: 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
    user-select: none;
}

body,
input,
button {
  font-family: "Muli", sans-serif, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, sans-serif;
  outline: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.questionBox {
  max-width: 450px;
  margin: 0 auto;
  position: absolute;
  left: 0; right: 0;
}

.questionContainer {
    background: linear-gradient(180deg, #92AEDB 0%, #E2BAB5 100%);
    background-attachment: fixed;
    padding: 50px;
    color: #ffffff;
}

li {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}

.pt-1, .py-1 {
    padding-top: 0.25rem !important;
}

.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}

.result-contents {
    display: flex;
    font-size: 16px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: left;
}

div{
    display: block;
}

.result-contents p {
    margin: 0;
}

.link-icon {
    position: relative;
    display: inline-block;
    width: auto;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding-top: 50px;
}

.link-icon.twitter {
    background-image: url(./assets/icon-twitter.png);
    background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
  .form-body {
    padding: 50px 40px;
  }
}

@media only screen and (max-width: 455px) {
  .form-body {
    padding: 45px 30px;
  }
}

@media only screen and (max-width: 340px) {
  .form-body {
    padding: 30px 20px;
  }
}

@media only screen and (max-width: 400px) {
  .social-login ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

._or {
  text-align: center;
  margin-bottom: 20px;
  color: #d9d9d9;
}
